$font-size-normal: 1.3rem;

.response_error {
  font-size: $font-size-normal;
  line-height: $font-size-normal;
  background: #ff5670;
  max-width: 320px;
  display: flex;
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: 400;
  cursor: default;
  border-radius: 2px;
}
