$font-size-normal: 1.3rem;

.response_error {
  font-size: $font-size-normal;
  line-height: calc($font-size-normal + 5px);
  padding: 5px;
  color: rgb(226, 32, 32);
  font-weight: 400;
  cursor: default;
  border-radius: 2px;
}
