$font-size-normal: 1.3rem;

.validation_error {
  font-size: $font-size-normal;
  line-height: $font-size-normal;
  bottom: -$font-size-normal;
  background: #fa9aa9;
  padding: 5px;
  color: white;
  font-weight: 400;
  cursor: default;
  border-radius: 2px;
}
