@import 'styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-btn-header;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .05s linear, background-color .1s linear;
  font-weight: 200;
  font-size: 1.2rem;
  padding: 5px 20px;

  &:hover {
    background-color: $hover-btn;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    transform: scale(0.97);
  }
}
