// Gray
$color-light-gray: #DCDCDC;
$color-dusty-gray: #7D7F7D;
$color-graphite-gray: #474A51;
$color-iron-gray: #434B4D;
$color-bg-card: rgba(82, 122, 132, 0.7);
$color-bg-main: rgb(25, 25, 25);

$width-wrap-app-content: 1440px;

$animation-time-welcome: .6s;

$hover-btn: rgba(188, 220, 133, .5);

$bg-btn-header: rgba(225, 0, 152, 0.2);

$primerySecondarycolor: #8ee100;

$transitionHover: .6s;
