@import 'styles/variables.scss';

.signup_page_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.link {
  transition: color .15s linear;
  color: #3768e3;
  text-decoration: underline;
  cursor: pointer;
  transition: color $transitionHover;

  &:hover {
    color: $hover-btn;
  }
}
