@import 'styles/variables.scss';

.layout_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
