.wrapper {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;

  &:hover .logo_img {
    transform: rotate(180deg) scale(1.15);
  }
}

.logo {
  color: #e10098;
  font-size: 1.3rem;
}

.logo_img {
  height: 3rem;
  transition: transform .4s ease;
}

