@import 'styles/variables.scss';

.editor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &_inner {
    background: $color-light-gray;
    padding: 7px;
    height: calc(100vh - 66px - 4rem - 128px);
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

    &>div:nth-child(1) {
      overflow: hidden;
      position: relative;
      width: 100%;
    }
  }

  &_query {
    width: 100%;
    background-color: $color-dusty-gray;
  }

  &_answer {
    position: relative;;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
  }
}

.control {
  background-color: #fff;
  padding: 4px;
  border-radius: 5px;

  &_btn {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-self: center;
  }

  & button {
    padding: 5px;
  }
}
