@import 'styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-bottom: 0.3px black solid;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: $width-wrap-app-content;
  margin: 0 auto;
  gap: .3rem;
  padding: .5rem;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  flex: 0 0 auto;
  width: 100%;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 8px 6px rgb(157, 157, 157);
  background-color: rgb(255, 255, 255);
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 10px;
}
