.login_page_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.link {
  transition: color .15s linear;
  color: #000000;
  text-decoration: underline;

  &:hover {
    color: #8ee100;
  }
}
