@import 'styles/variables.scss';

.login_page_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.link {
  transition: color $transitionHover linear;
  color: #3f51f3;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #8ee100;
  }
}
