@import 'styles/variables.scss';

.welcome_page {
  height: 100%;
  max-width: 100%;
  display: flex;
  background-color: $color-bg-main;
  color: aliceblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &_wrap {
    width: $width-wrap-app-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    overflow-x: hidden;
  }
}

.bg_img__welcome {
  position: absolute;
  right: 5rem;
  width: 70%;
  z-index: -1;

  @media (max-width: 600px) {
    right: 1rem;
    top: 10%;
    width: 95%;
  }
}

.welcome_title_wrap {
  display: flex;
  align-items: center;
  height: 100vh;
  z-index: 1;
  width: 100%;
}

.title {
  width: 60%;
  gap: 4rem;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.title_text {
  text-align: left;
  font-size: 1.8rem;
  background:linear-gradient(to right,rgba(25, 25, 25, .9) 0%, rgba(25, 25, 25, .8) 60%,rgba(25, 25, 25, .01) 100%);
  width: 100%;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }
}

.title_main {
  font-size: 5rem;
  width: 100%;
  margin: 0;
  text-align: left;
  @media (max-width: 600px) {
    font-size: 3rem;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 4rem;

  & div:nth-child(1) {
    animation-delay: $animation-time-welcome;
  }

  & div:nth-child(2) {
    animation-delay: $animation-time-welcome;
  }

  & div:nth-child(3) {
    animation-delay: calc($animation-time-welcome*2);
  }

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 4rem;
  }
}

.gallery_side {
  width: calc(100% / 2);
  gap: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.gallery_left {
  align-items: center;

  & div:nth-child(1) {
    background-image: url(/dev-bg2.png);

  }

  & div:nth-child(3) {
    background-image: url(/dev-bg3.png);
  }
}

.gallery_right {
  align-items: center;

  & div:nth-child(2) {
    background-image: url(/dev-bg.png);
  }
}

.gallery_description {
  font-size: 1.1rem;
  width: 60%;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 1rem;
    display: none;
  }
}

