$font-size-normal: 1.3rem;

.validation_error{
  font-weight: 200;
  font-size: $font-size-normal;
  line-height: $font-size-normal;
  position: absolute;
  margin: 0;
  bottom: -$font-size-normal;
  color: #DC143CFF;
  cursor: default;
}
