#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.decorationsOverviewRuler {
  display: none !important;
}

.monaco-editor,
.monaco-editor .overflow-guard {
  border-radius: 5px;
}