@import '../../../styles/variables.scss';

.editor {
  &_inner {
    background: $color-light-gray;
    padding: 7px;
    height: calc(100vh - 66px - 4rem);
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

    & textarea {
      resize: none;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }

  &_query {
    width: 100%;
    background-color: $color-dusty-gray;
  }

  &_answer {
    width: 100%;
    background-color: $color-dusty-gray;
    border-radius: 5px;
  }
}
