.nav {
  display: flex;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;

  &_list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

.link {
  color: black;
  cursor: pointer;
  transition: .5s;

  &:hover {
    color: #8ee100;
  }
}
