@import 'styles/variables.scss';

.card_info {
  display: flex;
  flex-direction: column;
  min-height: 13rem;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: $color-bg-card;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 2rem;
  box-shadow: -10px 0 10px -10px  rgba(82, 122, 132, 0.7);;
  opacity: 0;
  animation: fadeIn $animation-time-welcome ease-in both;
  transition: scale $transitionHover;
  will-change: transform;
  cursor: pointer;

  &:hover {
    scale: 1.03;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 10px;
  }
}

.developer_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.contacts {
  display: flex;
  align-items: center;
  gap: .5rem
}

.dev_main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.task {
  font-size: 12px;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.description {
  @media (min-width: 600px) {
    display: none;
  }
}
