@import 'styles/variables.scss';

:root {
  --index:calc(1vw+1vh);
}

.card_info {
  display: flex;
  flex-direction: column;
  width: calc(var(--index) * 36);
  padding: 20px;
  border-radius: 10px;
  background-color: $color-bg-card;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 2rem;
  box-shadow: 4px 5px 9px 0 rgba(255, 249, 249, 0.2);
  opacity: 0;
  animation: fadeIn $animation-time-welcome ease-in both;
  transition: scale $transitionHover;
  will-change: transform;
  cursor: pointer;

  &:hover {
    scale: 1.03;
  }

  @media (max-width: 600px) {
    max-width: calc(100%);
    width: calc(var(--index) * 45);
    padding: 10px;
  }
}

.developer_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.contacts {
  display: flex;
  align-items: center;
  gap: .5rem
}

.dev_main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.task {
  font-size: 12px;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
