@import 'styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  row-gap: 30px;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  box-shadow: #eeeeee 0 0 5px 4px;
  position: relative;

  button:last-of-type {
    margin-top: 40px;
  }

  @media (max-width:600px) {
    padding: 10px;
  }
}

.title {
  margin: 0;
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 400;
  height: 35px;
  min-width: 280px;
  background: #eeeeee;
  border: none;
  padding: 0 5px;
  border-radius: 3px;

  &::placeholder {
    color: rgb(42, 42, 42, .6);
    font-size: 1.1rem;
  }

  &:focus-visible {
    outline: none;
  }
}
